body{
    background-color: #fff;
}
.bknav{
    background-color: whitesmoke;
}
.carousel-inner{
    height:60vh;
    min-height: 300px;
}
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
}
.main_heart {
    width: 200px;
    height: 200px;
    margin: 20px;
    background-image: url(./logo\ corazones.png);
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: inline-table;
}
.align_heart {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 200px;
    padding-bottom: 25px;
}
.white{
    color: white;
}
.t6 {
    font-size: 50px;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 2px;
}
.t3 {
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
}
/* ======================================================== */
.general{
    display: flex;
    align-items: center;
    margin: 50px;
}
.general-1{
    width: 45%;
    text-align: center;
    /* padding: 100px 250px 100px 100px; */
   
}
.general-2 {
    width: 80%;
    display: flex;
    justify-content: center;

}
.general-2 img{
    width: 70%;
}
.general-3{
    width: 80%;
    display: flex;
    justify-content: center;
}
.general-3 img{
    width: 70%;
}
/* ---------------FOOOOOOOOOOOOOOTER----------- */
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    background-position: left top;
    background-repeat: repeat;
    background-image: url(./texturefooter.png);
}
.menufooter {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menufoot-elem {
    list-style: none;
}

.menufoot-icon {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: inline-block;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menufoot-icon:hover {
    opacity: 1;
}
.text{
    color: white;
}
/* ------------------------------------adopciones----------------------------- */
/* .card{
    background-color: #C1DBDA;
    
}
.card-img-top{
    width: 50%;
    background-color: aqua;
} */
.body-card{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ffdad5;

}
.contact-lef textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid #ff994f
}
.contact-inputs::placeholder{
    color:#a9a9a9;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color:black;
    gap:10px;
    border-radius: 50px;
    background: linear-gradient(270deg,#ff994f,#fa6d86);
    cursor: pointer;
}
@media (max-width:800px){
    .contact-inputs{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}





/* ---------------------------contactos----------------------- */

.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.body-contact{
    background: linear-gradient(#ffdad5,#fff7f9);
}
.contact-left-title h2{
    font-weight: 600;
    color: #a363aa;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #a363aa;
    border-radius:10px; 
    margin-bottom: 20px;
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}
.conctact-left textarea{
 height: 140px; 
 }
